{% extends "main_bot.html" %}

{% block tab %}
<a href="?op=add_event" class="btn btn-primary" title="Add">Add event</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in events %}
      <tr>
        <td width="1%" nowrap>
          {%if item.active%}
          <span class="far fa-check-circle text-success panel_icon"></span>
          {%else%}
          <span class="far fa-times-circle text-danger panel_icon"></span>
          {%endif%}
        </td>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td>
            <a type="button" class="btn btn-success btn-sm" href="?event={{item.id}}&op=edit" title="Edit"><i class="feather icon-edit"></i></a>
            <a type="button" class="btn btn-danger btn-sm" href="?event={{item.id}}&op=delete" title="Delete" onClick="return confirm('Delete enet {{item.title}}?')" ><i class="feather icon-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}