{% extends "main_bot.html" %}
{% block tab %}
<form  method="POST">
    <!-- Поля формы -->
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.token.label(class="form-label") }}
        <label class="form-label">{{ _('Token bot') }}</label>
        {{ form.token(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('Auto register users') }}</label>
        {{ form.register(class="ml-2 form-check-input", id="register_checkbox") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('History days') }}</label>
        {{ form.history_day(class="form-control", id="history_day") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('Proxy URL') }}</label>
        {{ form.proxy_url(class="form-control", id="proxy_url") }}
        <div class="form-text">{{ _('Proxy hint') }}</div>
    </div>
    <button type="submit" class="btn btn-primary">{{ _('Submit')}}</button>
</form>
{% endblock %}