{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="TelegramBot">{{ _('TelegramBot')}}</a></li>
<li class="breadcrumb-item">{{form.name.data}}</li>
{% endblock %}
{% block module %}
{% if form.errors %}
<div class="alert alert-warning mt-3">
    <ul>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <li>{{field}}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
{% endif %}
<form  method="POST">
    <!-- Поля формы -->
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label class="form-label">{{ _('User ID')}}</label>
        {{ form.user_id(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('Name')}}</label>
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('User')}}</label>
        {{ form.user(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('Say')}}</label>
        {{ form.say(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('Command')}}</label>
        {{ form.command(class="form-check-input") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ _('Submit')}}</button>
    <a href="TelegramBot" class="btn btn-secondary">{{ _('Cancel')}}</a>
</form>
{% endblock %}